.extraLink{
  h2{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    padding-top: 50px;
    padding-top: 40%;
    align-content: flex-start;

    position: relative;
    height: 4.5vmax;
    font-size: 70%;
    
    font-weight: bold;
    text-align: center;
    border-radius: 2vmin;
    background: var(--cor);
  }
  .extraImg{
    display: flex;
    width: min(10vmin, 8vmax);
    width: 75%;

    position: absolute;
    top: -45%;
    left: 50%;
    
    border-radius: 50%;
    transform: translate(-50%);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .3);
  }
  
  a{
    left: 50%;
    bottom: -18%;
    position: absolute;
    transform: translate(-50%) rotate(45deg);
    border-radius: 50%;
    padding: 5px;

    img{
      width: 80%;
    }
  }
}

@media (max-width: 425px){
  .extraLink{
    position: relative;
    a{
      img{
        position: absolute;
        width: 25px;
        transform: translate(-80%, -80%);
      }
    }
  }
}