.icon{
  height: 27px;
}

header{
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderContainer_L,
.HeaderContainer_R{
  gap: 15px;
  display: flex;
  align-items: center;
}

.HeaderContainer_L{
  width: 262px;
}

.menuDropDown{
  display: flex;
  padding-left: 20px;
  position: relative;
  align-items: center;

  border-radius: 5vw;
  border: 3px solid white;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  
  span{
    font-weight: bold;
    padding-right: 20px;
  }

  .menu{
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--cor);
    transition: transform 0.3s ease-out;
  }

  .menu:hover{
    transform: rotate(90deg);
  }
  .menu:hover + .menuDropDownContent {
    display: block;
  }
}

.menuDropDownContent{
  display: none;
  padding: 10px 0;
  padding-top: 45px;
  min-width: 8.65svw;
  min-width: 161.66px;
  text-align: center;

  top: 50%;
  left: -2%;
  position: absolute;
  z-index: -2;

  background-color: var(--cor);
  border-bottom-right-radius: 1.5svw;
  border-bottom-left-radius : 1.5svw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.menuDropDownContent::before{
  content: "";
  width: 161.66px;
  position: absolute;

  top: 0;
  height: 76px;
  transform: translate(-50%, -50%);
  
  border-radius: 5svw;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: -1;
}

.Language{
  gap: 6px;
  display: flex;
  color: white;
  align-items: center;

  .active{
    font-weight: bold;
  }
}

.Search{
  display: flex;
  align-items: center;
  background-color: white;

  border-radius: 5vw;;
  border: 3px solid white;

  input{
    padding-left: 20px;
    border-radius: 5vw;
    border: none;
  }:focus{
    outline: none;
  }

  img{
    padding: 10px;
    border-radius: 5vw;
    background-color: var(--cor);
  }:hover{
    cursor: pointer;
  }
}

.Login{
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
  
  color: white;
  border-radius: 5vw;
  border: 3px solid white;

  .icon{
    height: 42px;
  }
  img{
    height: 25px;
  }
}